In [1]:
import pandas as pd
import sqlite3
from langchain_community.utilities import SQLDatabase
from langchain_ollama import ChatOllama
from langchain.prompts import ChatPromptTemplate
from langchain.schema.runnable import RunnablePassthrough

In [2]:
# Load both sheets from the Excel file
file_path = r'C:\Users\Ashton Internship\Desktop\Chat With Excel\Operator List.xlsx'
df_1 = pd.read_excel(file_path, sheet_name='Tie-up operator')  # Load the first sheet
df_2 = pd.read_excel(file_path, sheet_name='Forbidden Operator')  # Load the second sheet

In [3]:
df_1.head()

,Region,Country,Operator,Remarks,Country code,MCC/MNC,Direct/Sponsored,Handset Display 1,Handset Display 2,Network tie-up,Prefered List
0,ASIA & MIDDLE EAST,Afghanistan,Afghanistan Wireless Communication (AWCC),NaN,93,41201,Direct,AF AWCC,AWCC,2G/3G/LTE,Preferred 1
1,EUROPE,Andorra,S.T.A (MOBILAND),NaN,376,21303,Direct,ANDORRA-MOBILAND,M-AND,2G/3G/LTE/VOLTE,Preferred 1
2,CENTRAL & LATIN AMERICA,Anguilla,Cable & Wireless (West Indies) Ltd. Anguilla,NaN,1-264,365840,Direct,FLOW,FLOW,2G/3G/LTE,Preferred 2
3,CENTRAL & LATIN AMERICA,Anguilla,Mossel (Jamaica) Ltd (Digicel) - NETWORK ESTEN...,NaN,1-264,338050/338880,Direct,Digicel,Digicel,2G/3G/LTE,Preferred 1
4,CENTRAL & LATIN AMERICA,Antigua and Barbuda,Digicel antigua e barbuda - NETWORK ESTENSION ...,NaN,1-268,338884,Direct,Digicel,digicel,2G/3G/LTE,Preferred 1

In [4]:
df_2.head()

       Country                                           Operator
0  Afghanistan  Telecom Development Company Afghanistan Ltd (T...
1  Afghanistan                                           ETISALAT
2  Afghanistan                                       Areeba (MTN)
3      Albania                                       Eagle Mobile
4      Albania                                               PLUS

In [5]:
# Also, column names with spaces can be tricky and cause unexpected errors, so let us replace the spaces with underscores
df_1.rename(columns={"Country code": "country_code", "Handset Display 1": "handset_display_1","Handset Display 2": "handset_display_2","Network tie-up":"network_tie_up","Prefered List":"prefered_list"}, inplace=True)
df_1.head()

,Region,Country,Operator,Remarks,country_code,MCC/MNC,Direct/Sponsored,handset_display_1,handset_display_2,network_tie_up,prefered_list
0,ASIA & MIDDLE EAST,Afghanistan,Afghanistan Wireless Communication (AWCC),NaN,93,41201,Direct,AF AWCC,AWCC,2G/3G/LTE,Preferred 1
1,EUROPE,Andorra,S.T.A (MOBILAND),NaN,376,21303,Direct,ANDORRA-MOBILAND,M-AND,2G/3G/LTE/VOLTE,Preferred 1
2,CENTRAL & LATIN AMERICA,Anguilla,Cable & Wireless (West Indies) Ltd. Anguilla,NaN,1-264,365840,Direct,FLOW,FLOW,2G/3G/LTE,Preferred 2
3,CENTRAL & LATIN AMERICA,Anguilla,Mossel (Jamaica) Ltd (Digicel) - NETWORK ESTEN...,NaN,1-264,338050/338880,Direct,Digicel,Digicel,2G/3G/LTE,Preferred 1
4,CENTRAL & LATIN AMERICA,Antigua and Barbuda,Digicel antigua e barbuda - NETWORK ESTENSION ...,NaN,1-268,338884,Direct,Digicel,digicel,2G/3G/LTE,Preferred 1

In [6]:
# Create a connection to a local SQLite database
db = sqlite3.connect('jio.db')

In [7]:
# Copy both DataFrames to the SQLite database as separate tables
df_1.to_sql('operator_list', db, if_exists='replace', index=False)

281

In [8]:
df_2.to_sql('forbidden_list', db, if_exists='replace', index=False)

338

In [9]:
db_uri = "sqlite:///jio.db"
db = SQLDatabase.from_uri(db_uri)
print("Database dialect:", db.dialect)
print("Tables in the database:", db.get_usable_table_names())

Database dialect: sqlite
Tables in the database: ['forbidden_list', 'operator_list']

In [10]:
def getDatabaseSchema():
    return db.get_table_info() if db else "Please connect to database"

In [11]:
print(getDatabaseSchema())

CREATE TABLE forbidden_list (
	"Country" TEXT,
	"Operator" TEXT
)

/*
3 rows from forbidden_list table:
Country	Operator
Afghanistan	Telecom Development Company Afghanistan Ltd (TDCA)
Afghanistan	ETISALAT
Afghanistan	Areeba (MTN)
*/


CREATE TABLE operator_list (
	"Region" TEXT,
	"Country" TEXT,
	"Operator" TEXT,
	"Remarks" TEXT,
	country_code TEXT,
	"MCC/MNC" TEXT,
	"Direct/Sponsored " TEXT,
	handset_display_1 TEXT,
	handset_display_2 TEXT,
	network_tie_up TEXT,
	prefered_list TEXT
)

/*
3 rows from operator_list table:
Region	Country	Operator	Remarks	country_code	MCC/MNC	Direct/Sponsored 	handset_display_1	handset_display_2	network_tie_up	prefered_list
ASIA & MIDDLE EAST	Afghanistan	Afghanistan Wireless Communication (AWCC)	None	93	41201	Direct	AF AWCC	AWCC	2G/3G/LTE	Preferred 1
EUROPE	Andorra	S.T.A (MOBILAND)	None	376	21303	Direct	ANDORRA-MOBILAND	M-AND	2G/3G/LTE/VOLTE	Preferred 1
CENTRAL & LATIN AMERICA	Anguilla	Cable & Wireless (West Indies) Ltd. Anguilla	None	1-264	365840	Direct	FLOW	FLOW	2G/3G/LTE	Preferred 2
*/

In [12]:
#Test database 

db.run('SELECT Region FROM operator_list LIMIT 10;')

"[('ASIA & MIDDLE EAST',), ('EUROPE',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('OCEANIA',), ('OCEANIA',)]"

In [13]:
# llm = ChatOllama(model = "deepseek-r1", temperature = 0.2,num_gpu = 1,verbose = False)
# llm = ChatOllama(model = "llama3.2", temperature = 0.5,num_gpu = 1,verbose = False)
llm = ChatOllama(model = "mistral", temperature = 0.2,num_gpu = 1,verbose = False)

In [42]:
# template = """You are an expert in generating SQL queries and providing natural language responses. Below is the schema of a SQLite database. Read the schema carefully, paying attention to table names, column names, and case sensitivity.

# ### **Schema:**  
# {schema}

# ### **Instructions:**  
# 1. Use **only** the provided tables and columns in the schema.  
# 2. Be **mindful of case sensitivity** for table and column names.  
# 3. If the user's question requires data from both tables, suggest a JOIN operation.  
# 4. Correct any spelling mistakes in the user's question. For example:  
#    - "IROPE" → "Europe"  
#    - "Netwrok" → "Network"  
#    - "Handest" → "Handset"  
#    - "Prefered" → "Preferred"  
# 5. Generate a **syntactically correct SQL query** and provide a **natural language response** based on the query result.  
# 6. **Do not include the SQL query in the response.** Only provide the natural language response.  

# ### **Examples:**  
# **Question:** How many countries are in the region Irope?  
# **Response:** There are 15 countries in the Europe region.  

# **Question:** Show me the netwrok tie-ups for Europe.  
# **Response:** The network tie-ups for Europe are: [list of tie-ups].  

# **Question:** Combine data from both sheets for Europe.  
# **Response:** Here is the combined data for Europe: [combined data].  

# ### **Your Turn:**  
# **Question:** {question}  
# **Response:**  
# """

# prompt = ChatPromptTemplate.from_template(template)

In [14]:
query_correction_template = """
You are an expert at fixing spelling mistakes while keeping the intent unchanged.

### **User Query:**
{question}

### **Instructions:**
1. Correct only spelling mistakes, do not change intent.
2. Keep technical terms, database-specific names, and SQL keywords unchanged.
3. Return only the corrected query as plain text.

### **Examples:**
**Input:** How many countries are in the region Aisa?
**Output:** How many countries are in the region Asia?

### **Corrected Query:**
"""
query_correction_prompt = ChatPromptTemplate.from_template(query_correction_template)

# # Step 1: Query Correction Prompt
# query_correction_template = """You are an expert in understanding user queries and fixing spelling mistakes. Your task is to correct any misspellings in the following query while keeping the intent unchanged.

# ### **User Query:**  
# {question}  

# ### **Instructions:**  
# 1. Identify and correct **any spelling mistakes** while keeping the intent the same.  
# 2. Do **not** modify technical terms, database-specific names, or SQL keywords.  
# 3. Return **only** the corrected query as plain text.

# ### **Examples:**  
# **Input:** How many countries are in the region Aisa?  
# **Output:** How many countries are in the region Asia?

# **Input:** Show me the netwrok tie-ups for Europe.  
# **Output:** Show me the network tie-ups for Europe.

# ### **Corrected Query:**  
# """
# query_correction_prompt = ChatPromptTemplate.from_template(query_correction_template)

In [20]:
sql_generation_template = """
You are an SQL expert. Convert the given corrected query into an optimized SQL query using the provided schema.

### **Schema:**
{schema}

### **Instructions:**
1. **Use Only Available Data:** Ensure that queries reference only the tables and columns present in the schema.
2. **Case Sensitivity:** Maintain case sensitivity for table and column names.
3. **Forbidden Data Handling:**  
   - If the query contains terms related to restriction (e.g., forbidden, restricted, blocked, unavailable, prohibited, denied, hidden, censored, blacklisted, etc.), retrieve data from the `forbidden_list` table.  
   - Otherwise, use the `operator_list` table.
4. **Data Completeness:** Ensure the query retrieves all relevant results, not just a subset.
5. **Handling Missing Entries:**  
   - If a specified country/operator is not found in the dataset, search for similar names using a similarity threshold of **0.7**.  
   - If no match meets this threshold, return the response:  
     `"There is no relevant data available in the table."`
6. **Output Format:**  
   - Return only the SQL query without any explanation.  
   - Avoid unnecessary clauses or computations unless required for correctness.

### **Examples:**
**Input:** How many tie-up operators exist for India?  
**SQL Query:**
```sql
SELECT COUNT(*) FROM operator_list WHERE country_code = 'India';
"""
#Improved Prompt
# Step 2: SQL Generation Template
# sql_generation_template = """
# You are an SQL expert. Convert the given corrected query into an SQL query using the provided schema.

# ### **Schema:**
# {schema}

# ### **Instructions:**
# 1. Use only the tables and columns present in the schema.
# 2. Be case-sensitive with table and column names.
# 3. If a forbidden-related term (forbidden, restricted, blocked) is not in the query, avoid using the `forbidden_list` table.
# 4. Return only the SQL query without explanation.

# ### **Examples:**
# **Input:** How many tie-up operators exist for India?
# **SQL:**
# ```sql
# SELECT COUNT(*) FROM operator_list WHERE country_code = 'India';
# ```"""
sql_generation_prompt = ChatPromptTemplate.from_template(sql_generation_template)


#Initial Prompt
# sql_generation_template = """You are an expert in SQL and must generate **accurate** queries based on the given database schema. Read the schema carefully.

# ### **Schema:**  
# {schema}

# ### **Instructions:**  
# 1. **Use only the tables and columns in the schema.**  
# 2. Be **case-sensitive** when writing table and column names.  
# 3. If data is in multiple tables, use a **JOIN** operation correctly.  
# 4. Use **COUNT()** when asked for a count and ensure **GROUP BY** when needed.  
# 5. Ensure **correct WHERE conditions** are applied to match user queries.  
# 6. **Return only the SQL query.** Do not add explanations.

# ### **Examples:**  
# **Input:** How many countries are in the region Asia?  
# **SQL:**  
# ```sql
# SELECT COUNT(*) FROM Countries WHERE region = 'Asia';
# """

# sql_generation_prompt = ChatPromptTemplate.from_template(sql_generation_template)

In [16]:
nl_reponse_template = """
You are an expert at converting SQL query results into user-friendly natural language responses.

### **SQL Query:**
{sql_query}

### **Database Response:**
{sql_result}

### **Instructions:**
1. **Contextualize the Response:** Ensure the response is relevant to the original query.
2. **Clarity and Precision:** Provide a clear, concise, and complete answer.
3. **Handling Missing Data:**  
   - If no relevant data is found (empty result), return:  
     `"There is no relevant data available in the table."`  
4. **Example Formatting:**  
   - If the result is a count or a single value, incorporate it into a natural sentence.
   - If the result contains multiple rows, present them in a readable format.

### **Examples:**
**SQL Result:** `23`  
**Output:** There are 23 tie-up operators for India.

**SQL Result:** `(empty result)`  
**Output:** There is no relevant data available in the table.

**Final Response:**
{formatted_response}
"""

# Step 3: Natural Language Response Template
# nl_response_template = """
# You are an expert at converting SQL results into natural language responses.

# ### **SQL Query:**
# {sql_query}

# ### **Database Response:**
# {sql_result}

# ### **Instructions:**
# 1. Convert the SQL result into a user-friendly answer.
# 2. Ensure the response is relevant to the original query.
# 3. Use clear and concise language.

# ### **Example:**
# **SQL Result:** 23
# **Output:** There are 23 tie-up operators for India.

# ### **Final Response:**
# """
nl_response_prompt = ChatPromptTemplate.from_template(nl_response_template)

In [17]:
# Create the chain
query_correction_chain = query_correction_prompt | llm
sql_generation_chain = sql_generation_prompt | llm
nl_response_chain = nl_response_prompt | llm

In [18]:
final_chain = (
    {"corrected_query": query_correction_chain, "schema": RunnablePassthrough()} 
    | sql_generation_chain
    | {"sql_query": RunnablePassthrough(), "sql_result": RunnablePassthrough()} 
    | nl_response_chain
)

In [27]:

def process_query(question, debug=False):
    corrected_query = query_correction_chain.invoke({"question": question})
    sql_query = sql_generation_chain.invoke({"corrected_query": corrected_query, "schema": getDatabaseSchema()})
    sql_result = "Simulated SQL Execution Result"  # Replace with actual SQL execution logic
    final_response = nl_response_chain.invoke({"sql_query": sql_query, "sql_result": sql_result})
    
    if debug:
        return {
            "Corrected Query": corrected_query,
            "Generated SQL": sql_query,
            "SQL Execution Result": sql_result,
            "Final Response": final_response
        }
    return final_response

In [28]:
# Example usage
question = "How many countries are in the region Aisa?"
response = process_query(question, debug=True)  # Set debug=True to see all intermediate results
print(response)

NameError: name 'get_database_schema' is not defined

In [25]:
question = "How many countries are in the region Aisa?"